<div class="container-fluid">
    <p>Materia Numero {{materiaId}}</p>
    <p>Potenciacao</p>


    <div class="row">
        <div class="col-md-8 text-center pt-3">
            <h1>Aulas</h1>
            <div class="row">
                <div class="col-md-4" *ngFor="let cards of aulaCards">
                    <app-aula-card [objectAula]="cards"></app-aula-card>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <h2>Detalhes sobre a materia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente maxime, tempora, dolor optio libero eaque eum modi neque nisi nemo perspiciatis facilis soluta nobis omnis voluptatum facere molestias repellendus. Cumque.</p>
        </div>
        
    </div>

    

    <button (click)="postRequest()">post data</button>
    <button (click)="fetchRequest()">Fetch data</button>

</div>
