<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-12">
            <h1>Matematica Regressiva</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>Aprenda matemática de uma forma simples e descomplicada, começe do zero e construa sua fundação para solucionar problemas matemáticos maiores</p>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Você tem dificuldade em aprender conseitos novos? Encontre o ponto onde você tem maior dificuldade e exercite a matéria até encontrar a solução</p>
            <a routerLink="cadastro">Faça seu cadastro</a>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-md-3 py-2 my-1">            
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Imagem Aula</title><rect width="100%" height="100%" fill="#6dc213"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <h4>Escolha uma matéria para estudar</h4>
                <p>Matérias do primario até o ensino médio</p>
              
        </div>
        <div class="col-md-3 py-2  my-1">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Imagem Aula</title><rect width="100%" height="100%" fill="#9613c2"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <h4>Selecione uma aula para começar a aprender</h4>
        </div>
        <div class="col-md-3 py-2 1 my-1">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Imagem Aula</title><rect width="100%" height="100%" fill="#13c2b9"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <h4>Exercite os conhecimentos adquiridos</h4>
        </div>
        <div class="col-md-3 py-2  my-1">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Imagem Aula</title><rect width="100%" height="100%" fill="#e6de10"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <h4>Descubra em qual parte voce está com dificuldade</h4>
        </div>
    </div>
    

</div>