<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-12">
            <h1>Matematica Regressiva</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium labore illo dolore aliquid ratione similique! Sunt corrupti in necessitatibus culpa aliquid magni at, repudiandae rerum reprehenderit illum quis voluptatum!</p>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit eos vero rem at asperiores debitis exercitationem enim officiis consectetur alias veniam optio sapiente autem officia, cum dolores recusandae aliquam.
        </div>
    </div>

</div>
